.dashboard-container {
  display: flex;
  flex-direction: row;
}

* {
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 15%;
  background: linear-gradient(to bottom, #3f4c6b, #606c88);
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 20px 15px;
  box-sizing: border-box;
}

.dashboard-item {
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.active-tab {
  background: rgba(225, 225 , 225, 0.2);
  border-radius: 5px;
  width: 100%;
  transition: 0.3s;
}

.dynamic-container {
  border-radius: 8px;
  background: #FAFAFA;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  width: 85%;
}
