.dashboard-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-width: 15%;
  max-width: 15%;
  width: 15%;
  background: linear-gradient(to bottom, #3f4c6b, #606c88);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  min-height: 100vh;
  height: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
  animation: slideInRight 1s ease-in-out;
}

.dashboard-item {
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.active-tab {
  background: rgba(225, 225 , 225, 0.2);
  border-radius: 5px;
  width: 100%;
  transition: 0.3s;
}

.dynamic-container {
  border-radius: 8px;
  background: #FAFAFA;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  width: 85%;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
