/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}


@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  to {
    transform: none;
    -webkit-transform: none;
  }
}
