.outer {
  position: relative;
  width: 200px;
  height: 150px;
  background: #3f4c6b;
  margin: 20px;
  z-index: 10;
}

.inner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  left: -10px;
  background: rgba(125, 125, 125, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
  transition: ease-out all 1s;
  animation: slideInRight ease-out 1s;
}


.wrap {
  //display: flex;
}

.modal {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;
  a {
    color: #bf0222;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .warning {
    display: none;
  }
}



.container {
  background-image: url('https://41.media.tumblr.com/efd15be8d41b12a7b0ef17fba27c3e20/tumblr_mqqy59HMaf1qzattso1_1280.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
